@charset "utf-8";

/**
 * ============================================================================
 *
 *      Developer: J.A. Runnells
 *        Created: 2021-08-25 19:00
 *        Updated: 2021-08-27 22:38
 *         Branch: main
 *        License: N/A
 *
 * ============================================================================
 */

:root {
  --bg-clr-main-hue: 210;
  --bg-clr-main-saturation: 50%;
  --bg-clr-main-lightness: 40%;
}

body {
  --bg--clr-main-hsl: hsl(
    var(--bg-clr-main-hue),
    var(--bg-clr-main-saturation),
    var(--bg-clr-main-lightness)
  );
}

.required-text {
  --font-family: "JetBrains Mono", "Lucida Console", "Courier New", monospace;
  --font-size: 1.5em;
}

footer {
  --font-family: Tahoma, Verdana, sans-serif;
  --font-size: 0.85em;
}